<h1>質問履歴一覧</h1>

<table class='table'>
  <thead>
    <tr>
      <th>id</th>
      <th>質問日時</th>
      <th>名前</th>
      <th>質問内容</th>
    </tr>
  </thead>


  <tbody>
    <% @inquiries.each do |inquiry| %>
    <tr>
      <td><%= inquiry.customer_id %></td>
      <td><%= inquiry.created_at %></td>
      <td><%= inquiry.name %></td>
      <td class="text-center">メッセージ</td>
      <td style="white-space: pre-wrap;"><%= inquiry.message %></td>
      <td><%= link_to "返信する", anser_path(id: inquiry.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>